<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <title></title>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/d3/d3.min.js"></script>
    <script src="../bower_components/moment/min/moment.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-moment/angular-moment.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="../src/angular-ui-timepicker.js"></script>


    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../src/angular-ui-timepicker.css">

    <style>
        body {
            /*background: #555555;*/
        }
    </style>
</head>
<body>

    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="col-xs-3" ng-controller="Example1Controller">
                <h2>default</h2>
                <div class="input-group">
                    <input class="form-control" ui-timepicker ng-model="_1" type="text" placeholder="time" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <script>
                    var example1app = angular.module("example1app", ["ui.timepicker"]);
                    example1app.controller("Example1Controller", ["$scope", function ($scope) { }]);
                </script>
            </div>
            <!--<div class="col-xs-3" ng-controller="Example2Controller">-->
                <!--<h2>inline options</h2>-->
                <!--<div class="input-group">-->
                    <!--<input class="form-control" ui-timepicker options="{format:'H:mm'}"  ng-model="_2" type="text" placeholder="time" />-->
                    <!--<span class="input-group-addon">-->
                        <!--<span class="glyphicon glyphicon-time"></span>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<script>-->
                    <!--var example2app = angular.module("example2app", ["ui.timepicker"]);-->
                    <!--example2app.controller("Example2Controller", ["$scope", function ($scope) { }]);-->
                <!--</script>-->
            <!--</div>-->
            <div class="col-xs-3" ng-controller="Example3Controller">
                <h2>move by increments</h2>
                <div class="input-group">
                    <input class="form-control" ui-timepicker options="{increments:5}"  ng-model="_2" type="text" placeholder="time" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
                <script>
                    var example3app = angular.module("example3app", ["ui.timepicker"]);
                    example3app.controller("Example3Controller", ["$scope", function ($scope) { }]);
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <!--<ui-timepicker ng-model="firstdatetime"></ui-timepicker>-->
                <!--<h1 ng-bind="mirskyvar">aa</h1>-->
            </div>
            <div class="col-xs-3">
                <h1 ng-bind="mydattime"></h1>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("myapp", ["ui.timepicker"]);
        app.controller("Example1Controller", ["$scope", function ($scope) { }]);
    </script>

</body>
</html>