<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>angular-ui-timepicker :: {{ page.title }}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
              integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
              integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>


        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
                integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
                crossorigin="anonymous"></script>

        <!-- Custom CSS -->
        <link href="stylesheets/styles.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% for item in site.data.menu %}
                    <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="header">
                <div class="row">
                    <div class="col-xs-8">
                        <h1>angular-ui-timepicker</h1>
                    </div>
                    <div class="col-xs-2">
                        <a href="https://github.com/mirskytech/angular-ui-timepicker" class="button"><small>View project on</small> GitHub</a>
                    </div>
                    <div class="col-xs-1">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-6">

                        {{ content }}

                    </div>
                    <div class="col-xs-1">&nbsp;</div>
                    <div class="col-xs-2 sidebar-dwnld">
                        <a href="https://github.com/mirskytech/angular-ui-timepicker/zipball/master" class="button">
                            <small>Download</small>
                            .zip file
                        </a>
                        <a href="https://github.com/mirskytech/angular-ui-timepicker/tarball/master" class="button">
                            <small>Download</small>
                            .tar.gz file
                        </a>

                        <p class="repo-owner">The <a href="https://github.com/mirskytech/angular-ui-timepicker">angular-ui-timepicker</a> project is maintained by <a href="https://github.com/mirskytech">mirskytech</a>.</p>

                    </div>
                    <div class="col-xs-1">&nbsp</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
